@model GoldenGeneration.Web.Models.Clubs.ClubViewModel

<style>
    .details {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        background-color: #3332;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .details h1 {
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }

    .detail {
        margin-left: 50px;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.6;
    }

        .detail strong {
            color: #555;
        }

    .image-container {
        position: absolute;
        text-align: center;
        top: 25%;
        right: 15%;
    }

        .image-container img {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 4px solid #ddd;
        }

    .detail-container {
        margin-bottom: 20px;
    }
</style>



<div class="details">
    <h1>Club Details</h1>

    <div class="detail-container">
        <div class="detail">
            <strong>Club Name:</strong> @Model.Name
        </div>
        
        <div class="detail">
            <strong>League:</strong> @Model.League.Name
        </div>
        
        <div class="detail">
            <strong>Manager:</strong> @Model.Manager.FirstName @Model.Manager.LastName
        </div>

        <div class="detail">
            <strong>Stadium:</strong> @Model.Stadium
        </div>

        <div class="detail">
            <strong>Kit:</strong> @Model.Kit.PrimaryColor / @Model.Kit.SecondaryColor
        </div>

        <div class="detail">
            <strong>Champions League Titles:</strong> @Model.ChampionsLeagueTitlesCount
        </div>

        <div class="detail">
            <strong>League Titles:</strong> @Model.LeagueWinnerTitlesCount
        </div>

    </div>

    <div class="image-container">
        <img src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
</div>
